<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="six_dof_arm">
    <xacro:include filename="$(find six_dof_arm)/urdf/common.xacro" />
    <xacro:include filename="$(find six_dof_arm)/urdf/arm.xacro" />
    <xacro:include filename="$(find six_dof_arm)/urdf/gripper.xacro"/>
    <xacro:include filename="$(find six_dof_arm)/urdf/six_dof_arm.ros2_control.xacro"/>

</robot>